html {
    background-color: #E7E6F2;
}
body {
    background-color: white;
    max-width: 600px;
    margin: auto;
    font-family: "Segoe UI", Verdana, Arial;
    font-size: 15px;
    padding: 0 15px;
}
hr{
    border-top: 2px;
    color: #E7E6F2;
}
h1 {
    font-size: 40px;
    margin-left: 15px;
    padding-top: 10px;
}
h2 {
    text-align: center;
    font-size: 15px;
    padding: 4px 30px 4px 30px;
    background-color: #E7E6F2;
}
input, select, textarea{
    width: 100%;
  padding: 7px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border: 1px solid #E7E6F2;
  background-color: white;
  appearance: none;
}
button {
  padding: 7px 10px 7px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid green;
  background-color: green;
  color: white;
  cursor: pointer;
}
.grupo {
    width: 90%;
    margin: auto;
    padding: 15px 0;
    flex-shrink: 2;
    flex-wrap: wrap;
    gap: 10px;
}
.esconder {
  display: none;
}
@media (max-width: 768px) {
    body {
        width:auto;
        max-width: 100%;
        padding: 0 15px;
        font-size: 18px;
    }
}